<div class="container">
    <div class="row">
        <div class="col-12 breadcrumb">
            <div class="">
                <ul>
                    <li class=""><%= link_to "HOME", root_path %><span>></span></li>
                    <li class="">NY LAB</li>
                </ul>
            </div>
        </div>
        
        <div class="col-md-10 offset-md-1 col-sm-12 shop">
            
            <div class="shop-info">
                <!--店舗名・カテゴリー-->
                <div class="shop__titlebox">
                    <h1 class="shop__name"><a href="/shops/nylab">NY Lab</a></h1>
                    <p class="shop__category">Web作成</p>
                </div>
                
                <!--トップスライド-->
                <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><%= image_tag "nylab3.png", class:"swiper-img" %></div>
                    <div class="swiper-slide"><%= image_tag "nylab4.png", class:"swiper-img" %></div>
                    <div class="swiper-slide"><%= image_tag "nylab5.png", class:"swiper-img" %></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div> 
                <div class="swiper-button-next"></div>
                <div class="swiper-scrollbar"></div> 
                </div>
            </div>
                
            <div class="shop-info">    
                <div class="shop__explain">
                    <p class="shop__explain__title">Web作成承ります！</p>
                    <p class="shop__explain__content">お店や会社のHPを作成されたい方がおりましたら、ぜひご連絡ください！</p>
                    <p class="shop__explain__content">ご要望に合わせて作成させていただきます。</p>
                    <p class="shop__explain__content">対応できる言語 </br>: HTML5、CSS3、Javascript、Jquery、Ruby</p>
                    <p class="shop__explain__content">得意とするフレームワーク </br>: Ruby on Rails</p>
                </div>
                <div class="shop__imagebox">
                    <a href="/assets/nakoshop.jpg" data-lightbox="roadtrip"><%= image_tag "nakoshop.jpg", class:"shop__image" %></a>
                </div>
            </div>
            
            <div class="shop-info">
                <div class="shop__explain">
                    <p class="shop__explain__title">メニュー</p>
                    <p class="shop__explain__content">お店や会社のHPを作成されたい方、ぜひご連絡ください！</p>
                    <li class="shop__explain__menu-list"><em>ホームページ作成</em> : 5万円～</li> 
                    <p class="shop__explain__menu-explain">作成後ご自身で管理いただけるサイトや作成後の定期的な更新（アフターメンテナンス）も承ります！</p>
                    <li class="shop__explain__menu-list"><em>ワードプレス作成</em> : 10万円～</li> 
                    <p class="shop__explain__menu-explain">作成後ご自身で管理いただけるサイト</p>
                    <li class="shop__explain__menu-list"><em>スマホ対応(レスポンシブ化)</em>: 3万円～</li> 
                    <p class="shop__explain__menu-explain">スマホに対応していないサイトのスマホ対応化</p>
                </div>
                <div class="shop__imagebox">
                    <%= image_tag "nylab2.jpg", class:"shop__image" %>
                </div>
            </div>
            
            <div class="shop-info">
                <div class="shop-info__information">
                    <p class="shop__explain__title">クーポン</p>
                </div>
                <div class="shop__message-box">
                    <p class="shop__message">下記連絡先に連絡のとき、「<em>タツノコスクエアを見た</em>」とお伝えください。</p>
                </div>
                <div class="shop__explain-full">
                    <div class="shop__explain__coupon">
                        <p class="shop__explain__coupon__title">ホームページ作成 : 5万円</p>
                        <p class="shop__explain__coupon__content">5ページ程度（HOME、メニュー、お問い合わせ、企業紹介等）</p>
                        <p class="shop__explain__coupon__content">＋月5000円でアフターメンテナンス対応</p>
                        <p class="shop__explain__coupon__content">＋別途サーバー管理費がかかります</p>
                    </div>
                    <div class="shop__explain__coupon">
                        <p class="shop__explain__coupon__title">管理画面付きHP作成 : 10万円</p>
                        <p class="shop__explain__coupon__content">5~7ページ程度（HOME、メニュー、お問い合わせ、企業紹介等）</p>
                        <p class="shop__explain__coupon__content">＋別途サーバー管理費がかかります</p>
                    </div>
                    <div class="shop__explain__coupon">
                        <p class="shop__explain__coupon__title">Ruby on railsを使った本格的Webアプリケーション作成 : 20万～</p>
                        <p class="shop__explain__coupon__content">ご要望をお聞きして、ご相談させていただきます。</p>
                        <p class="shop__explain__coupon__content">例）口コミサイト、チャット機能付きアプリケーション等</p>
                    </div>
                </div>
     
            </div>
            
            <div class="shop-info">
                <div class="shop-info__information">
                    <p class="shop__explain__title">店舗情報・連絡先</p>
                </div>
                <div class="shop__explain">
                    <li class="shop-info__list">業種<span class="ml-3rem">:</span>Web作成</li>
                    <li class="shop-info__list">名称<span class="ml-3rem">:</span>NY Lab</li>
                    <li class="shop-info__list">住所<span class="ml-3rem">:</span>茨城県龍ケ崎市藤ヶ丘</li>
                    <li class="shop-info__list">連絡先<span class="ml-rem">:</span>090-4541-8451</li>
                    <li class="shop-info__list">連絡先<span class="ml-rem">:</span>nakonakoshi@gmail.com</li>
                </div>
                <div class="shop__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12922.027733012988!2d140.19158673257624!3d35.934567132174024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60226ff5b1e369a9%3A0xc8d7d81b4d4ac7f!2z44CSMzAxLTA4NTUg6Iyo5Z-O55yM6b6N44Kx5bSO5biC6Jek44Kx5LiY!5e0!3m2!1sja!2sjp!4v1590746963980!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            
            

        </div>
        
    </div>
    
</div>

<!--スライダー-->
<script>
  var mySwiper = new Swiper ('.swiper-container', {
    // ここからオプション
    loop: true,
    speed: 800,
    slidesPerView: 1,
    centeredSlides : true,
    pagination: {
      el: '.swiper-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  })
</script>