<!DOCTYPE html>
<html>
  <head>
    <title>RyugasakiSave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>
    <script>
    $(function() {
       const hum = $('#hamburger, .close')
       const nav = $('.mobile-nav')
       hum.on('click', function(){
          nav.toggleClass('toggle');
       });
    });
    </script>
  </head>

  <body>
    <div class="wrap">
    <%= render "/layouts/header" %>
    <%= yield %>
    <%= render "/layouts/footer" %>
    </div>
  </body>
</html>
